<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for wp-turbo">
    <description>Sniffs for wp-turbo</description>

    <!-- Use colors in output. -->
    <arg name="colors"/>

    <arg value="ps"/>

    <arg name="extensions" value="php"/>

    <file>./wp-turbo.php</file>

    <rule ref="1815BuildingTechniques"/>

    <config name="testVersion" value="8.3-"/>
    <rule ref="PHPCompatibilityWP" />
</ruleset>
